<nav>
  <ul>
    <li><a href="#">Homepage</a>
      <ul>
        <li><a href="#">Slider</a>
        <li><a href="#">Links</a>
      </ul>
    </li>
    <li><a href="#">Blog</a>
      <ul>
        <li><a href="#">Overzicht</a>
        <li><a href="#">Tags</a>
      </ul>
    </li>
  </ul>
</nav>
